body {
    margin: 0;
}

.parent {
    margin-top: -25px;
    background-color: white;
    height: 88px;
    width: 100%;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    border-bottom: 2px solid #cccccc;
}

p {
    padding-left: 10px;
    font-size: 18px;
    line-height: 35px;
}

.myname {
    float: left;
    margin-left: 284px;
    width: 300px;
    height: 88px;
    background-color: #4aaaa5;
    text-align: center;
}

.nametext {
    color: white;
    position: relative;
    top: 20px;
}

header {
    width: 100%;
}

ul {
    float: right;
    margin-right: 275px;
    margin-top: 50px;
}

li {
    list-style: none;
    display: inline-block;
}

#about {
    padding-right: 10px;
    color: #cccccc;
    border-right: solid 2px #cccccc;
}

#portfolio {
    padding-left: 10px;
    padding-right: 10px;
    color: #cccccc;
    border-right: solid 2px #cccccc;
}

#contact {
    color: #cccccc;
    padding-left: 10px;
    padding-right: 10px;
}

#aboutimage {
    float: left;
    margin: 2px;
    padding-right: 5px;
    width: 325x;
    height: 450px;
}

.bodybox {
    width: 800px;
    height: 900px;
    padding: 30px;
    border: 0px;
    margin: 0 auto;
    margin-bottom: 100px;
    background-color: white;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

.bodybo {
    width: 800px;
    height: 650px;
    padding: 30px;
    margin: 0 auto;
    margin-bottom: 100px;
    background-color: white;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

#bodyheader {
    height: 70px;
    margin-top: 0px;
    padding: 0px;
    width: 800px;
    border-bottom: 3px solid #cccccc;
    color: #4aaaa5;
    align-items: center;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

footer {
    position: fixed;
    bottom: 0;
    background-color: #666666;
    width: 100%;
    height: 60px;
    border-top: 8px solid #4aaaa5;
}

.project {
    border: solid 2px #dddddd;
    float: left;
    margin: 25px;
    width: 200px;
    height: 300x;
}

.project img {
    width: 200px;
    height: 200px;
}

.project a {
    position: relative;
    bottom: 0;
    background-color: #4aaaa5;
    text-align: center;
    font-size: 25px;
    color: white;
    width: 100%;
}

.project h3 {
    background-color: #4aaaa5;
    text-align: center;
    font-size: 25px;
    color: white;
    width: 100%;
}

.type {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 800px;
}

.type2 {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 800px;
    height: 300px;
}

.push {
    background-color: #4aaaa5;
    padding-top: 5px;
    padding-bottom: 5px;
}